<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrastructure Comparison</title>
</head>
<body>
    <h1>Infrastructure Comparison</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file1">Upload Deployed State File</label><br><br>
        <input type="file" name="file1" accept=".json" required><br><br>
        <label for="file2">Upload Test file:</label><br><br>
        <input type="file" name="file2" accept=".json" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
